<main role="main">
  <!-- <section class="jumbotron text-center">
      <div class="container">
   
      </div>
    </section> -->

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        
        <ng-container *ngIf="datasrc">
          <!-- <div *ngFor="let i of datasrc"> -->
            <div *ngFor="let i of datasrc" class="col-md-2">
              <div class="card mb-2 shadow-sm">
                <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="158" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                <img
                  class="bd-placeholder-img card-img-top"
                  src="{{ i.webImage.url }}"
                  width="100%"
                  height="158"
                />

                <div class="card-body">
                  <p class="card-text">{{ i.title }}</p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  ></div>
                </div>
              </div>
            </div>

          <!-- //</div> -->
        </ng-container>

      </div>
    </div>
  </div>
</main>
